<%- include('partials/header') %>

    <h2>Ultimas entradas del blog</h2>

    <div class="rejilla-entradas">
        <% posts.forEach(post => { %>
            <article class="tarjeta">
                <a href="/post/<%= post.id %>">
                    <img src="<%= post.image %>" alt="<%= post.title %>">
                    
                    <div class="capa-titulo">
                        <h3><%= post.title %></h3>
                    </div>
                </a>
            </article>
        <% }) %>
    </div>

<%- include('partials/footer') %>